<h1>Help Page</h1>
    <p>
Get all the help you need on this sample app, see the
    <a href="https://www.railstutorial.org/book">Ruby on Rails Tutorial</a>
Get all help you need on Ruby on Rails Tutorials at the 
    <a href="https://www.railstutorial.org/book/help">Rails Tutorial Help Page</a>
</p>
